../../.bash_history
../../.cisco/
../../.conda/
../../.condarc
../../.docker/
../../.dotnet/
../../.gitconfig
../../.ipython/
../../.jupyter/
../../.keras/
../../.minttyrc
../../.vscode/
../../3D Objects/
../../AppData/
../../Application Data
../../Contacts/
../../Cookies
../../Creative Cloud Files/
../../Deep-Learning/
../../Documents/
../../Downloads/
../../Favorites/
../../Jupyter Notebooks/
../2020 KEYS Next Steps Instructions.pdf
../20200220200439-images.zip
../20200220201127-images.zip
../20200220201127.pdf
../Application Agreement KEYS.PDF
../CITI Training/
../Driver's Permit.jpg
../Immunization Records/
../KEYS Syllabus Signed.tiff
../Letter of Interest KEYS.PDF.pdf
../Letter to Dr. Lindey.pdf
../Minor Policy Materials/
../Official Transcript.PDF
../Parent_Guardian Agreement.PDF
../Recommender Appreciation Letters.pdf
../Reflection #1.pdf
../UPDATED Syllabus_MCB103KEYS2020.pdf
../../Links/
../../Local Settings
../../MesloLGS NF Bold Italic.ttf
../../MesloLGS NF Bold.ttf
../../MesloLGS NF Italic.ttf
../../MesloLGS NF Regular.ttf
../../MicrosoftEdgeBackups/
../../Music/
../../My Documents
../../NTUSER.DAT
../../NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.0.regtrans-ms
../../NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.1.regtrans-ms
../../NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.2.regtrans-ms
../../NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.blf
../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
../../NetHood
../../OneDrive/
../../PrintHood
../../Recent
../../Saved Games/
../../Searches/
../../SendTo
../../Start Menu
../../Templates
../../Videos/
../../nerd-fonts/
../../ntuser.dat.LOG1
../../ntuser.dat.LOG2
../../ntuser.ini